body{
    background-color: #009788;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

#container{
    width: 100%;
}

p{
    color: white;
    font-size: 6vw;
}

#clock{
    width: 100%;
    text-align: center;
}

#btnSection{
    width: 100%;
    padding-top: 3rem;
}

.roundBtn{
    border-radius: 50%;
    background-color: #00463f;
    border: 0;
    width: 5rem;
    height: 5rem;
    font-size: 1rem;
    color: beige;
}

.selector{
    background-color: aliceblue;
    padding: .8rem 1.4rem .9rem .8rem;
    border-radius: .5rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 1rem;
    text-align: center;
}

#btn1{
    float: left;
    width: 49%;
}

#btn2{
    float: right;
    width: 49%;
}

#progressBarContainer{
    transform: rotate(180deg);
}